input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
.form-control:focus {
    outline: 0!important;
    outline-color: transparent!important;
    outline-width: 0!important;
    outline-style: none!important;
    box-shadow: 0 0 0 0 rgba(0,123,255,0)!important;
}

.border-dashed {border: 2px dashed grey}
.bgd-gray{background-color: #d2d7d7}
